body{font-family:'»ÒÉ«Arial';
		font-size:12px;
		line-height:2em;}
		a:link{color:#727272; text-decoration:none;}
		a:visited{text-decoration:none;}
		a:hover{text-decoration:underline;}
		a:active{text-decoration:none;}
		table{font-size:14px; color:b9f605; font-weight:bolder; }
		table.a{color:white;}
		table.a:hover{color:#b9f605; text-decoration:none; }
.color{color:#fdb306;}



